<% include ../partials/header %>

<div class="row">
   <div class="col-md-4">
      <h1><%= user.firstName + " " + user.lastName %></h1>
      <div class="card">
          <img src="<%= user.avatar %>" alt="user profile image">
          <div><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
       </div>
         Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32
   </div>
   <div class="col-md-8">
      <h3><%= user.username %>'s campgrounds:</h3>
      <ul>
      <% campgrounds.forEach(function(campground){ %>
         <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
      <% }); %>
      </ul>
   </div>
</div>

<% include ../partials/footer %>